<div class="animated fadeIn">

  <h1 class="jumbohead center display-4">What would you like to do?</h1>


  <div class="jumbocard container">
    <div class="row">
        <a class="btn btn-primary btn-lg jumbobutton" href="#" role="button"  [routerLink]="['/create-pipeline']"><i class="icon-puzzle"></i> Setup a pipeline</a>
        <a class="btn btn-primary btn-lg jumbobutton" href="#" role="button"><i class="icon-graph"></i> View active pipelines</a>
        <a class="btn btn-primary btn-lg jumbobutton" href="#" role="button"><i class="icon-equalizer"></i> Manage pipelines</a>
    </div>
    <div class="row">
        <a class="btn btn-primary btn-lg jumbobutton" href="#" role="button"><i class="icon-login"></i> Add data source</a>
        <a class="btn btn-primary btn-lg jumbobutton" href="#" role="button"><i class="icon-logout"></i> Add data sink</a>
        <a class="btn btn-primary btn-lg jumbobutton" href="#" role="button"><i class="icon-layers"></i> Define ETL operations</a>
    </div>
    <div class="row">
      <a class="btn btn-primary btn-lg jumbobutton" href="#" role="button"><i class="icon-speech"></i> View notifications</a>
      <a class="btn btn-primary btn-lg jumbobutton" href="#" role="button"><i class="icon-grid"></i> View sources/sinks</a>
      <a class="btn btn-primary btn-lg jumbobutton" href="#" role="button"><i class="icon-question"></i> Help</a>
    </div>
  </div>

<!--  <div class="card" style="width: 20rem;">
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>-->

</div>
