<section class="demo">
  <h1>
    Create a new data domain pipeline
  </h1>
  <hr/>
  <div>
    <form-wizard (onStepChanged)="onStepChanged($event)">
      <wizard-step [title]="'1 - Connect'" [isValid]="emailForm.form.valid" (onNext)="onStep1Next($event)">
        <h1>Connect</h1>
        <p class="lead">Connect to a data source</p>
        <form #emailForm="ngForm">
          <div class="form-group">
            <label for="adapter.pipelineId">Pipeline ID</label>
            <input type="text" class="form-control" id="adapter.pipelineId" name="adapter.pipelineId" aria-describedby="adapter.pipelineId.Help" placeholder="Enter Pipeline ID"
                   [(ngModel)]="data.adapter.pipelineId" required>
            <small id="adapter.pipelineId.Help" class="form-text text-muted">Define unique a name to identify this data domain pipeline</small>
          </div>
          <div class="form-group">
            <label class="form-check-label" for="adapter.checkpoints.enabled">
              <input type="checkbox" class="form-check-input" id="adapter.checkpoints.enabled" name="adapter.checkpoints.enabled" aria-describedby="adapter.checkpoints.enabled.Help"/>
              Enable checkpointing</label>
            <small id="adapter.checkpoints.enabled.Help" class="form-text text-muted">Automatically recover from connection failures.</small>
          </div>
        </form>
      </wizard-step>
      <wizard-step [title]="'2 - Ingest'" [showNext]="step2.showNext" [showPrev]="step2.showPrev" (onNext)="onStep2Next($event)">
        <h1>Ingest</h1>
        <p class="lead">Select an adapter type for data source.</p>
        <form>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="showNext" [(ngModel)]="step2.showNext"/>
              Show Next button
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="showPrev" [(ngModel)]="step2.showPrev"/>
              Show Previous button
            </label>
          </div>
        </form>
      </wizard-step>
      <wizard-step [title]="'3 - Prepare'" (onNext)="onStep3Next($event)">
        <h1>Prepare</h1>
        <p class="lead">Identify data format, cleanse, enrich, annotate and schematise.</p>
        <form>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="secret" [(ngModel)]="step3.showSecret"/>
              I want to know the secret
            </label>
          </div>
        </form>
      </wizard-step>
      <wizard-step [title]="'Step3.5'" [hidden]="!step3.showSecret">
        <h1>Step3.5</h1>
        <p class="lead">This is a secret place only special people can see this!!</p>
      </wizard-step>
      <wizard-step [title]="'4 - Store'" (onComplete)="onComplete($event)">
        <div [ngSwitch]="isCompleted">
          <div *ngSwitchDefault>
            <h1>Store</h1>
            <p class="lead">Select the destination sink type to retain for present and future analysis</p>
          </div>
          <div *ngSwitchCase="true">
            <h4>Thank you {{data.email}}! You have completed all the steps.</h4>
          </div>
        </div>
      </wizard-step>
    </form-wizard>
  </div>
</section>
